img {
    height: 550px;
}

div {
    display: flex;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: center;
    padding-top: 80px;
}

HTML {
    background-color: rgb(245, 235, 220);
}