h1{
    display:blue;
    font-size:40px;
    padding: 5px;
    text-decoration: underline;
}
h2 {
    font-size: 25px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
p {
    font-size: 15px;
}
HTML {
    text-align: center;
    background-color: rgb(245, 235, 220);
    font-size:20px;
    text-align: center;
    color: #091133;
    background-image: url("../../client/src/components/background.svg");
}

