.download{
    background-image: url("./download-background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 120vh;
    &_item {
        text-align: center;
    }
    &_button {
        background-color: #111b47;
        color: #ffffff;
    }

}
