.landingpage {
  //   background-image: url("./background-img.svg");
  //   background-size: 100vw auto;
  //   background-repeat: no-repeat;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color: rgb(245, 235, 220);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-padding-top: 15vh;
  height: 100vh;
  overflow-x: hidden;
  &_content {
    display: flex;
    align-items: center;
    position: relative;
    left: 10vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    &_info {
      &_header {
        line-height: 66px;
        font-size: 50px;
        font-weight: 600;
      }
      &_text {
        font-weight: 400;
      }
      &_actionarea {
        &_signup {
          background-color: #111b47;
          color: #ffffff;
          margin-right: 20px;
          margin-top: 4vh;
        }
        &_login {
          background-color: transparent;
          border: 2px solid #091133;
        }
      }
    }
    &_img {
      padding-left: 2vw;
      width: 60vw;
    }
  }
  &_find {
    background-image: url("./background1.svg");
    background-size: 100vw auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 110vh;
    padding: 0vh 10vw 0vh;
    &_content {
      margin-right: 4vw;
      margin-bottom: 5vh;
    }
    &_img {
      scroll-snap-align: center;
      scroll-snap-stop: always;
      padding: 2vw 0vh 0vh;
      width: 40vw;
    }
  }
  &_tutor {
    background-image: url("./background1.svg");
    background-size: 100vw auto;
    background-repeat: no-repeat;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    padding: 0vh 10vw 5vh;
    height: 115vh;
    &_content {
    }
    &_img {
      width: 40vw;
      margin-right: 2vw;
    }
  }
  &_super {
    background-image: url("./background.svg");
    background-size: 100vw auto;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;

    &_content {
      width: 40vw;
      margin: auto;

      &_header {
      }
      &_text {

      }
      &_download {
        scroll-snap-align: center;
        scroll-snap-stop: always;
        color: #ffffff;
        margin-top: 6vh;
        margin-bottom: 3vh;

      }
    }
    &_img {
    }
  }
  &_footer {
    color: #37447e;
    background-color: #cbc3b7;
    height: 100vh;
    margin-top: 100px;
    padding-top: 50px;
    margin-bottom: 0px;

    &_heading {
      color: #37447e;
      font-weight: 700;
      font-size: 36px;
    }
    &_link {
      text-decoration: none;
      font-size: 16px;
      color: #111b47;
      margin-right: 20px;
    }
    &_link-container {
      text-align: left;
      //margin-left: 100px;
      display: flex;
      justify-content: center;
    }
    &_copyright {
      text-align: left;
      width: 25vw;
    }
    &_logo {

      text-align: right;
      width: 25vw;
    }
    &_container {
      display: flex;
      justify-content: center;
    }
  }
}
.landingpage::-webkit-scrollbar {
  display: none;
}