.landingpage {
  //   background-image: url("./background-img.svg");
  //   background-size: 100vw auto;
  //   background-repeat: no-repeat;
  background-color: rgb(245, 235, 220);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  &_content {
    display: flex;
    align-items: center;
    position: relative;
    left: 10vw;
    scroll-snap-align: start;
    &_info {
      &_header {
        line-height: 66px;
        font-size: 50px;
        font-weight: 600;
      }
      &_text {
        font-weight: 400;
      }
      &_actionarea {
        &_signup {
          background-color: #111b47;
          color: #ffffff;
          margin-right: 20px;
          margin-top: 4vh;
        }
        &_login {
          background-color: transparent;
          border: 2px solid #091133;
        }
      }
    }
    &_img {
      padding-left: 2vw;      
      width: 60vw;
    }
  }
  &_find {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0vh 10vw 0vh;
    &_content {
      margin-right: 4vw;
      margin-bottom: 5vh;

    }
    &_img {
      scroll-snap-align: center;
      padding: 2vw 0vh 0vh;
      width: 40vw;
    }
  }
  &_tutor {
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    padding: 0vh 10vw 5vh;
    height: 115vh;
    &_content {
    }
    &_img {
      width: 40vw;
      margin-right: 2vw;
    }
  }
  &_super {
    background-image: url("./background.svg");
    background-size: 100vw auto;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;


    &_content {
      width: 30vw;
      margin: auto;


      &_header {
      }
      &_text {
      }
      &_download {
        background-color: #111b47;
        color: #ffffff; 
        margin-top: 8vh;
        margin-bottom: 5vh;
        scroll-snap-align: center;

      }
    }
    &_img {
    }
  }
}
